<div class="dashboard">

  <h1>Dashboard</h1>

<div class="cards-grid">
  <app-card
    *ngFor="let m of metrics"
    [title]="m.title"
    [value]="m.value"
    [icon]="m.icon"
    [changePercent]="m.changePercent"
    [changeLabel]="m.changeLabel"
    [changeDirection]="m.changeDirection"
  ></app-card>
</div>
<section class="chart-section">
  <div class="section-header">
    <h2>Sales Details</h2>
  </div>

<app-chart
    [type]="'line'"
    [data]="salesData"
    [options]="salesOptions"
    [height]="350"
  ></app-chart>


</section>

<app-deals [dataSource]="deals" class="deals">

</app-deals>
</div>
