<mat-card class="product-card">

  <div class="card-image-container">
    <img mat-card-image [src]="product.imageUrl" alt="{{ product.name }}" />

    <button
      mat-icon-button
      (click)="onToggleFavorite()"
      class="favorite-btn"
    >
      <mat-icon color="warn">
        {{ product.isFavorite ? 'favorite' : 'favorite_border' }}
      </mat-icon>
    </button>
  </div>

  <mat-card-content>
    <h3 class="product-name">{{ product.name }}</h3>
    <p class="product-price">{{ product.price }}</p>
    <div class="product-rating">
      <mat-icon
        *ngFor="let star of stars"
        class="star"
      >
        {{
          star <= product.rating
            ? 'star'
            : (star - product.rating < 1 ? 'star_half' : 'star_border')
        }}
      </mat-icon>
      <span class="reviews">({{ product.reviews }})</span>
    </div>
  </mat-card-content>
</mat-card>
